<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans> 
  <bean id="IProviderRepository" class="Data.Dao.Implementations.ProviderRepository"></bean> 
  <bean id="IUserRepository" class="Data.Dao.Implementations.UserRepository"></bean>   
</beans>