/PericoFramework/nbproject/private/
/PericoFramework/build
/InventoryManager.Core/nbproject/private/
/InventoryManager.Core/build/
/InventoryManager.Core/dist/
/InventoryManager.Gui/nbproject/private/
/InventoryManager.Gui/build/